
<footer
  class="w-100 mt-5 d-flex justify-content-center align-items-center"
  
>
  <div class="container mt-5 pt-5">
    <div class="row pb-3">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>
          Welcome to our recipe sharing platform where you can find, share, and
          comment on a wide variety of recipes from around the world.
        </p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="{% url "home" %}">Home</a></li>
          <li><a href="{% url "all_recipe" %}">Recipes</a></li>
          <li><a href="{% url "contact_us" %}">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4 pb-3">
        <h5>Contact Us</h5>
        <ul class="list-unstyled">
          <li>
            <i class="fa fa-map-marker"></i> Shamsher Nagar, Moulvibazar, BD
          </li>
          <li><i class="fa fa-phone"></i> +8801744231929</li>
          <li><i class="fa fa-envelope"></i> syedashafi4@gmail.com</li>
        </ul>
      </div>
    </div>
    <div class="text-center">
      <p class="mb-0 pb-2">
        &copy; 2024 Recipe Sharing Platform. All rights reserved.
      </p>
    </div>
  </div>
</footer>
