{% extends "base.html" %} {% block body %}
<div class="container pt-5">
  <div class="row pt-5 mt-5">
    <div class="col-md-12">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="card-title text-center mb-4">
            Hello, <span id="username"></span>
          </h3>
          <h4 class="card-subtitle text-center mb-4">
            Bio: <span id="user-bio"></span>
          </h4>

          <h2 class="text-center mt-5 mb-4">Recipe List</h2>

          <div id="user-recipe-cards" class="row g-3 mx-md-5"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Edit Recipe Modal -->
<div id="editRecipeModal" class="modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Recipe</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          onclick="closeModal()"
        ></button>
      </div>
      <form
        id="editRecipeForm"
        enctype="multipart/form-data"
        onsubmit="submitEdit(event)"
      >
        {% csrf_token %}
        <input type="hidden" id="edit-recipe-id" />
        <div class="modal-body">
          <div class="mb-3">
            <label for="edit-recipe-title" class="form-label">Title</label>
            <input type="text" class="form-control" id="edit-recipe-title" />
          </div>
          <div class="mb-3">
            <label for="edit-recipe-ingredients" class="form-label"
              >Ingredients</label
            >
            <textarea
              class="form-control"
              id="edit-recipe-ingredients"
              row="3"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="edit-recipe-instructions" class="form-label"
              >Instructions</label
            >
            <textarea
              class="form-control"
              id="edit-recipe-instructions"
              rows="3"
            ></textarea>
          </div>
          <div class="mb-3">
            <label for="edit-recipe-image" class="form-label">Image</label>
            <input
              type="file"
              class="form-control"
              id="edit-recipe-image"
              accept="image/*"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            onclick="closeModal()"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% include "footer.html" %} {% endblock %}
