{% extends "base.html" %} {% load static %} {% block body %}
<div id="recipe-detail-container" class="mx-md-5"></div>

<!-- Edit Comment Modal -->
<div id="editCommentModal" class="modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        onclick="closeCommentModal()"
      ></button>
      <form
        id="editCommentForm"
        class="pb-4"
        onsubmit="submitCommentEdit(event)"
        style="width: 50%; margin: auto"
      >
        {% csrf_token %}
        <input type="hidden" id="edit-comment-id" />
        <input type="hidden" id="edit-recipe-id" />
        <div class="form-outline form-white mb-4">
          <label class="form-label" for="edit-comment-title">Comment</label>
          <textarea
            id="edit-comment-title"
            class="form-control form-control-lg"
            row="3"
          ></textarea>
        </div>
        <div class="form-outline form-white mb-4">
          <label class="form-label" for="edit-comment-rating">Rating</label>
          <select class="form-control" id="edit-comment-rating" required>
            <option value="⭐">⭐</option>
            <option value="⭐⭐">⭐⭐</option>
            <option value="⭐⭐⭐">⭐⭐⭐</option>
            <option value="⭐⭐⭐⭐">⭐⭐⭐⭐</option>
            <option value="⭐⭐⭐⭐⭐">⭐⭐⭐⭐⭐</option>
          </select>
        </div>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          onclick="closeCommentModal()"
        >
          Close
        </button>

        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>

<div id="comments-section" class="mt-5">
  <hr />
  <div id="comments-container" class="m-4 d-flex flex-wrap"></div>
  <div>
    <div id="no-comment" class="pb-5 mb-5 w-100"></div>
  </div>

  <form
    id="comment-form"
    class="form-group"
    style="width: 50%; margin: auto"
    onsubmit="addComment(event)"
  >
    <div class="form-group">
      <label for="comment-content">Add a Comment</label>
      <textarea
        class="form-control"
        id="comment-content"
        rows="3"
        required
      ></textarea>
    </div>

    <div class="form-group">
      <label for="comment-rating">Rating</label>
      <select class="form-control" id="comment-rating" required>
        <option value="⭐">⭐</option>
        <option value="⭐⭐">⭐⭐</option>
        <option value="⭐⭐⭐">⭐⭐⭐</option>
        <option value="⭐⭐⭐⭐">⭐⭐⭐⭐</option>
        <option value="⭐⭐⭐⭐⭐">⭐⭐⭐⭐⭐</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary my-4">Add Comment</button>
  </form>
</div>

{% include "footer.html" %} {% endblock %}
